.header{
	width:100%;
	
	background-color:#232323;
	
}

body{
	background: linear-gradient(to right, #1b2938, #223f5a, #1b2938);
}

.navbar{
	border-radius:0px;
}

.header .navbar {
	margin-bottom:0px !important;
}
.footer .navbar{
margin-bottom:0px !important;
}
